name: agrichain
description: "A decentralized agriculture marketplace with integrated DeFi loan functionality."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # UI & Navigation
  cupertino_icons: ^1.0.8
  google_fonts: ^6.1.0
  flutter_svg: ^2.0.9
  lottie: ^3.0.0
  shimmer: ^3.0.0
  
  # State Management
  provider: ^6.1.1
  
  # Firebase
  firebase_core: ^3.6.0
  firebase_auth: ^5.3.1
  firebase_database: ^11.1.4
  firebase_storage: ^12.3.2
  firebase_messaging: ^15.1.3
  firebase_analytics: ^11.3.3
  cloud_firestore: ^5.4.4
  firebase_crashlytics: ^4.1.3
  
  # Image & File Handling
  image_picker: ^1.0.4
  cached_network_image: ^3.3.0
  
  # HTTP & API
  http: ^1.1.2
  dio: ^5.4.0
  
  # Blockchain & Web3
  web3dart: ^2.7.3
  
  # Payment Integration
  razorpay_flutter: ^1.3.6
  
  # Storage & Preferences
  shared_preferences: ^2.2.2
  sqflite: ^2.3.0
  sqflite_common_ffi_web: ^0.4.2+2
  path_provider: ^2.1.1
  
  # Security & Authentication
  bcrypt: ^1.1.3
  encrypt: ^5.0.1
  
  # Utils
  intl: ^0.20.2
  crypto: ^3.0.3
  uuid: ^4.2.1
  path: ^1.8.3
  
  # PDF generation
  pdf: ^3.10.7
  printing: ^5.12.0
  
  # Notifications
  flutter_local_notifications: ^17.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
